body {
    background-color: #294e80;
    margin-top: 50px;
    font-family: Arial Narrow, Arial, sans-serif;
}

p {
    margin-top: 5px;
}

label[for] {
    margin-right: 10px;
}

ul {
    list-style: none;
    padding: 0px;
}

#main-container {
    width: 50%;
    margin: 0px auto;
    padding: 20px;
    border: 2px dashed black;
    background-color: white;
}

.title {
    font-variant: small-caps;
    text-align: center;
}

.menu-link {
    color: inherit;
    text-decoration: none;
}

.menu-link:hover {
    color: #00008b;
}

.row {
    .column {
        float: left;
        width: 50%;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.separator {
    margin-top: 10px;
}
